body {
  margin: 0%;
  background-color: rgb(126, 49, 198);
}

.container {
  display: flex;

  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensures parent takes full viewport height */
  border-radius: 50%;
}

.boxPage {
  width: 200px;
  height: 150px;
  background-color: lightblue;
  border-radius: 5%;
}

.headOfbox {
  width: 200px;
  height: 50px;

  background-color: orange;
}
